* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.shimmer-inactive-ctn {
  animation: fade-in-out 0.8s ease-in-out;
  animation-fill-mode: forwards;
  display: none;
}

.shimmer-inactive-ctn.visible {
  display: block;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  visibility: hidden;
}
